html, 
body {
    height: 100%;
}
body {
    background: getColor(background);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $font__primary;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.wrapper {
    flex: 1 0 auto;
}