.navbar {
    background: getColor(primary);
    .nav-link {
        font-family: $font__nav-link;
        font-size: 18px;
    }
    .navbar-brand {
        font-size: 36px;
    }
  }
  .active {
    color: getColor(secondary) !important;
  }